html,
body {
    display: flex;
    align-content: center;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-variation-settings:
        "wdth" 100;
    width: 100%;
    height: 100%;
    gap: 20px;
    overflow: hidden;
    box-sizing: border-box;
    padding: 1px;
    margin-right: 10px;
    background-color: #393333;
    font-size: calc(0.7vw + 0.7vh);
    
    /* Отключение выделения текста */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.mainmenu {
    overflow-y: auto;
    border-radius: 1vh;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #0B083B;
    border: 1px solid black;
    box-shadow: 9px 9px 6px 1px #000000b0;
    flex: 1 1 auto;
    height: 95%;
    color: #BCD7F5;
    justify-content: space-between;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 100 1 auto;
    background-color: #0B083B;
    border: 1px solid black;
    box-shadow: 9px 9px 6px 1px #000000b0;
    border-radius: 2vh;
    height: 95%;
    padding: 10px;
    margin-right: 15px;
    gap: 10px;
}

.menu-button-wrap {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    border-radius: 2vh;
    background-color: #030C16;
    padding: 5px;
    padding-left: 15px;
    align-items: center;
    gap: 30px;
}


.menu-button-wrap:hover {
    background-color: #BCD7F5;
    color: black;

    #home-button {
        filter: invert(0%) sepia(10%) saturate(7500%) hue-rotate(61deg) brightness(107%) contrast(97%);
    }
}

#current-page {
    background-color: #BCD7F5;
    color: black;

    #home-button {
        filter: invert(0%) sepia(10%) saturate(7500%) hue-rotate(61deg) brightness(107%) contrast(97%);
    }
}

.menu-section {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

a {
    color: #BCD7F5;
    text-decoration: none;
}

#logo {
    display: flex;
    height: 25%;
}

#home-button {
    filter: invert(88%) sepia(27%) saturate(134%) hue-rotate(176deg) brightness(96%) contrast(102%);
}

.modebar-group {
    border-radius: 0 10px 18px 18px;
    padding: 0 3px !important;
    top: -2px;
}